doctype 5
html
  head
    block head
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title 
        block title
      block style
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", href="/css/main.css?v1")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700")
      block script
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        script(src="http://d3js.org/d3.v3.min.js")
  body
    block body
    // - apply code highlighting
    script(src="/js/main.js?v1")
    include analytics.html
