extends includes/layout

block title
  | a blog by victor powell

block body
  .container
    include includes/header
    include ../pages/posts/test-your-javascript-skillz.md
    include ../public/examples/responsive-d3.html
    include ../pages/posts/responsive-d3.md
    include ../pages/posts/when-semicolons-are-not-optional.md
    include ../pages/posts/technical-discrepancies-in-the-movie-oblivion.md
    include ../pages/posts/fibonacci-in-rust.md
    include ../pages/posts/what-do-i-want.md
    include ../pages/posts/thoughts-on-the-movie-12-monkeys.md
    include ../pages/posts/the-appreciability-of-code-as-art.md
    include ../pages/posts/im-dyslexic-and-i-program.md
    include ../pages/posts/zookeeper-node-part-2.md
    include ../pages/posts/zookeeper-node-part-1.md
    